SUPABASE_URL=https://lbgztfqgzjmiwvcghnki.supabase.co
SUPABASE_SERVICE_ROLE_KEY= sua_chave_service_role_aqui
HUGGINGFACE_API_KEY= sua_chave_huggingface_opcional
PDF_FOLDER= ./pdfs
CATEGORY= Publicações JW
